# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
pipenv/
pipenv.lock

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.bak
*.swp

# Logs
*.log

# Dependencies
lib/
lib64/
bin/
